{% extends "admin/base_site.html" %} 
{% load static i18n %} 
{% load home_tags %}
{% block bodyclass %}{{ block.super }} login{% endblock %}
 {% block usertools %}{% endblock %} 
{% block nav-global %}{% endblock %} 
{% block content_title %}{% endblock %}
{% block extrastyle %} {{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/login.css' %}" /> 
{% endblock %}

{% block content %}
    <!-- Logo -->
    <img src="{% static 'admin/css/icons/icon.png' %}" width="110px!important" height="50px!important" style="display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;" />
 <hr>

<!-- Simple Messege show -->
<ul class="messagelist">
    <li class="info">Use "<strong>admin</strong>" for username and password "<strong>admin@123</strong>"</li>
</ul>

<div>
    <!-- error List -->
    {% if form.errors and not form.non_field_errors %}
    <p class="errornote">
        {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
    {% endif %} {% if form.non_field_errors %} {% for error in form.non_field_errors %}
    <p class="errornote">
        {{ error }}
    </p>
    {% endfor %} {% endif %}
</div>

<div id="content-main">

  

    <!-- Lig in Form -->
    <form action="{{ app_path }}" method="post" id="login-form">
        {% csrf_token %}
        <div class="form-row">
            {{ form.username.errors }} {{ form.username.label_tag }} {{ form.username }}
        </div>
        <div class="form-row">
            {{ form.password.errors }} {{ form.password.label_tag }} {{ form.password }}
            <input type="hidden" name="next" value="{{ next }}" />
        </div>
        {% url 'admin_password_reset' as password_reset_url %} {% if password_reset_url %}
        <div class="password-reset-link">
            <a href="{{ password_reset_url }}">{% trans 'Forgotten your password or username?' %}</a>
        </div>
        {% endif %}
        <div class="submit-row">
            <label>&nbsp;</label><input type="submit" value="{% trans 'Log in' %}" />
        </div>
    </form>

    <script type="text/javascript">
        document.getElementById('id_username').focus()
    </script>
</div>


{% endblock %}