{% load recurse %}

  {% recurse menu.menu_set.all|dictsort:"lvl" with menu as menu %}
    {% loop %}
      <li >
           <a tabindex="-1" href="#" ><i  class="{{menu.icon_class }}">&nbsp;</i>{{ menu.title }}</a>
        <ul >
        {% for submenu in menu.get_children %}
          {% if submenu.has_children %}
            {% include "includes/nav_submenu.html" with menu=submenu %}
          {% else %}
            <li><a tabindex="-1" href="{% url submenu.url menu_slug=submenu.slug %}"><i  class="{{submenu.icon_class }}">&nbsp;</i>{{ submenu.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
      </li>
    {% endloop %}
  {% endrecurse %}