{% load recurse %}

<nav class="{{css_class}}">
{% recurse menu.menu_set.all|dictsort:"tree_id" with menu as menu %}
        <ul>
          {% loop %}
            <li>
              {% if menu.has_children %}
			   <a href="{% url menu.url menu_slug=menu.slug %}"><i  class="{{menu.icon_class }}">&nbsp;</i>{{ menu.title }}</a>
                <ul>
                  {% for child in menu.get_children %}
                    {% if child.has_children %}
                        {% include 'includes/nav_submenu.html' with menu=child %}
                    {% else %}
                      <li><a href="{% url child.url menu_slug=child.slug %}"><i  class="{{child.icon_class }}">&nbsp;</i>{{ child.title }}</a></li>
                    {% endif %}
                  {% endfor %}
                </ul>
              {% else %}
                  <a href="{% url menu.url menu_slug=menu.slug %}"><i  class="{{menu.icon_class }}">&nbsp;</i>{{ menu.title }}</a>
              {% endif %}
            </li>
          {% endloop %}
        </ul>
{% endrecurse %}
</nav>