{% extends 'shared/layout.html' %}
{% load paginate %}
{% load post_tags %}

{% block content %}

 {% if ds_posts %}
     {% paginate 5 ds_posts %}
   <!-- GALLERY LIST PAGE : begin -->
        <div class="gallery-list-page gallery-page">
            <div class="c-gallery">
                <!-- You can change the number of columns by changing "m-3-columns" class
                in the following element to m-2-columns | m-4-columns | m-5-columns : begin -->
                <ul class="gallery-images m-layout-masonry m-3-columns">
                   
                        {% for post in ds_posts %}
                            <!-- GALLERY IMAGE : begin -->
                            <li class="gallery-image">
                                <div class="gallery-image-inner">
                                    <a href="{% url 'gallery_detail' gallery_slug=post.slug %}">
                                        <img src="{{post.get_image_url|default_if_none:'#'}}" alt="{{post.title}}" class="img-thumbnail" style="width:100%;height:180px">
                                        <h2 class="gallery-title">{{post.title}}</h2>
                                     </a>
                                </div>
                            </li>
                            <!-- GALLERY IMAGE : end -->
                        {% endfor %}

                </ul>
            </div>
        </div>
        <!-- GALLERY LIST PAGE : begin -->

   
            <!-- PAGINATION : begin -->
            <hr/>
            <div class="c-pagination">
                {% show_pages %}
                <br>
                {% show_pageitems %}
            </div>
            <!-- PAGINATION : end -->

        {% else %}
            <h2 align="center" class="fa fa-warning">There are no Gallery are here !</h2>
    {% endif %}
       
{% endblock  %}        



{% block right_sidebar_widget %}

	<!-- categories starts here -->
	<div class="card">
		<div class="card-header">
		<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-list4"></i>{{title}} Categories</h3>
		</div>
		<div class="card-body">
				{% for category in categories_list %}
				{% comment %} "menu_name_slug"-->use menu title pass  {% endcomment %}
				<h5 class="card-title"><a href="{% url 'selected_Gallery_category' menu_slug=menu_name_slug category_slug=category.slug  %}">{{ category }} ({{ category|category_posts_count:menu_name_slug }})</a></h5>
				{% endfor %}
		</div>
	</div>

	<!-- categories ends here -->

     <br>

	<!-- Archive starts here -->
	<div class="card widget events-widget">
		<div class="widget-inner">
			<h3 class="widget-title m-has-ico"><i class="widget-ico tp tp-archive"></i>{{title}} Archive</h3>
			<div class="widget-content">
				<ul class="arch">
					{% get_archives as archives %}
						<li class="event m-has-date" >
							{% for archive in archives %}
								<!-- EVENT : begin -->
									<a href="{% url 'Gallery_archive_posts' menu_slug=menu_name_slug year=archive|date:'Y' month=archive|date:'m'  %}" class="col-md-3">
										<div class="event-inner">
											<div title="{{ archive|date:"F Y" }}" class="event-date">
												<span class="event-month">{{ archive|date:"M" }}</span>
												<span class="event-day">{{ archive|date:"Y" }}</span>
											</div>
										</div>
									</a>
									<!-- EVENT : end -->
							{% endfor %}
						</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- Archive ends here -->
        
	<!-- tags starts here -->
	<div class="card widget categories-widget">
		<div class="widget-inner">
			<h3 class="widget-title m-has-ico">
			<i class="widget-ico tp tp-tag"></i>{{title}} Tags</h3>
			<div class="widget-content">

			{% for tag in tags_list %}
				<a href="{% url 'selected_Gallery_tag' menu_slug=menu_name_slug tag_slug=tag.slug %}"><i class="fa fa-tag"></i> {{ tag }}</a>
			{% endfor %}
				
			</div>
		</div>
	</div>
	<!-- tags ends here -->
{% endblock %}